In [1]:
import pandas as pd

In [2]:
#import datasets for stocks being tracked 
apple = pd.read_csv('/kaggle/input/stock-market-for-nasdaq/Apple.csv')
facebook = pd.read_csv('/kaggle/input/stock-market-for-nasdaq/Facebook.csv')
google = pd.read_csv('/kaggle/input/stock-market-for-nasdaq/Google.csv')
nvidia = pd.read_csv('/kaggle/input/stock-market-for-nasdaq/Nvidia.csv')
tesla = pd.read_csv('/kaggle/input/stock-market-for-nasdaq/Tesla.csv')
twitter = pd.read_csv('/kaggle/input/stock-market-for-nasdaq/Twitter.csv')

In [3]:
apple.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0,-0.625006
2,2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0,-0.398879
3,3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752,26432000.0,-4821600.0,-0.182415
4,4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986,21610400.0,-3248000.0,-0.150298

In [4]:
facebook.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700,NaN,NaN,38.230000,-4.200001,-0.109861,573576400.0,-405383700.0,-0.706765
2,2,2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600,NaN,NaN,34.029999,-3.029999,-0.089039,168192700.0,-66406100.0,-0.394822
3,3,2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000,NaN,NaN,31.000000,1.000000,0.032258,101786600.0,-28186600.0,-0.276919
4,4,2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200,NaN,NaN,32.000000,1.029999,0.032187,73600000.0,-23362800.0,-0.317429

In [5]:
google.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,2004-08-19,50.050049,52.082081,48.028027,50.220219,50.220219,44659000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2004-08-20,50.555557,54.594593,50.300301,54.209209,54.209209,22834300,NaN,NaN,50.220219,3.988991,0.079430,44659000.0,-21824700.0,-0.488697
2,2,2004-08-23,55.430431,56.796795,54.579578,54.754753,54.754753,18256100,NaN,NaN,54.209209,0.545544,0.010064,22834300.0,-4578200.0,-0.200497
3,3,2004-08-24,55.675674,55.855854,51.836838,52.487488,52.487488,15247300,NaN,NaN,54.754753,-2.267265,-0.041408,18256100.0,-3008800.0,-0.164811
4,4,2004-08-25,52.532532,54.054054,51.991993,53.053055,53.053055,9188600,NaN,NaN,52.487488,0.565567,0.010775,15247300.0,-6058700.0,-0.397362

In [6]:
nvidia.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,1999-01-22,1.750000,1.953125,1.552083,1.640625,1.509998,67867200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1999-01-25,1.770833,1.833333,1.640625,1.812500,1.668188,12762000.0,NaN,NaN,1.640625,0.171875,0.104762,67867200.0,-55105200.0,-0.811956
2,2,1999-01-26,1.833333,1.869792,1.645833,1.671875,1.538759,8580000.0,NaN,NaN,1.812500,-0.140625,-0.077586,12762000.0,-4182000.0,-0.327692
3,3,1999-01-27,1.677083,1.718750,1.583333,1.666667,1.533965,6109200.0,NaN,NaN,1.671875,-0.005208,-0.003115,8580000.0,-2470800.0,-0.287972
4,4,1999-01-28,1.666667,1.677083,1.651042,1.661458,1.529172,5688000.0,NaN,NaN,1.666667,-0.005208,-0.003125,6109200.0,-421200.0,-0.068945

In [7]:
tesla.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,2010-06-29,19.000000,25.00,17.540001,23.889999,23.889999,18766300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2010-06-30,25.790001,30.42,23.299999,23.830000,23.830000,17187100,NaN,NaN,23.889999,-0.059999,-0.002511,18766300.0,-1579200.0,-0.084151
2,2,2010-07-01,25.000000,25.92,20.270000,21.959999,21.959999,8218800,NaN,NaN,23.830000,-1.870001,-0.078473,17187100.0,-8968300.0,-0.521804
3,3,2010-07-02,23.000000,23.10,18.709999,19.200001,19.200001,5139800,NaN,NaN,21.959999,-2.759998,-0.125683,8218800.0,-3079000.0,-0.374629
4,4,2010-07-06,20.000000,20.00,15.830000,16.110001,16.110001,6866900,NaN,NaN,19.200001,-3.090000,-0.160938,5139800.0,1727100.0,0.336025

In [8]:
twitter.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,2013-11-07,45.099998,50.090000,44.000000,44.900002,44.900002,117701600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2013-11-08,45.930000,46.939999,40.689999,41.650002,41.650002,27925300,NaN,NaN,44.900002,-3.250000,-0.072383,117701600.0,-89776300.0,-0.762745
2,2,2013-11-11,40.500000,43.000000,39.400002,42.900002,42.900002,16113900,NaN,NaN,41.650002,1.250000,0.030012,27925300.0,-11811400.0,-0.422964
3,3,2013-11-12,43.660000,43.779999,41.830002,41.900002,41.900002,6316700,NaN,NaN,42.900002,-1.000000,-0.023310,16113900.0,-9797200.0,-0.607997
4,4,2013-11-13,41.029999,42.869999,40.759998,42.599998,42.599998,8688300,NaN,NaN,41.900002,0.699997,0.016706,6316700.0,2371600.0,0.375449

In [9]:
dfs = [apple, facebook, google,nvidia,tesla,twitter]

In [10]:
# add two columns for the moving average 
for df in dfs:
    df['MA50'] = df.Close.rolling(50).mean()
    df['MA50'] = df.Close.rolling(50).mean()

In [11]:
apple.head(50)

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0,-0.625006
2,2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0,-0.398879
3,3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752,26432000.0,-4821600.0,-0.182415
4,4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986,21610400.0,-3248000.0,-0.150298
5,5,1980-12-19,0.504464,0.506696,0.504464,0.504464,0.399707,12157600,NaN,NaN,0.475446,0.029018,0.061033,18362400.0,-6204800.0,-0.337908
6,6,1980-12-22,0.529018,0.531250,0.529018,0.529018,0.419162,9340800,NaN,NaN,0.504464,0.024554,0.048673,12157600.0,-2816800.0,-0.231690
7,7,1980-12-23,0.551339,0.553571,0.551339,0.551339,0.436848,11737600,NaN,NaN,0.529018,0.022321,0.042194,9340800.0,2396800.0,0.256595
8,8,1980-12-24,0.580357,0.582589,0.580357,0.580357,0.459840,12000800,NaN,NaN,0.551339,0.029018,0.052632,11737600.0,263200.0,0.022424
9,9,1980-12-26,0.633929,0.636161,0.633929,0.633929,0.502287,13893600,NaN,NaN,0.580357,0.053571,0.092308,12000800.0,1892800.0,0.157723
10,10,1980-12-29,0.642857,0.645089,0.642857,0.642857,0.509361,23290400,NaN,NaN,0.633929,0.008929,0.014084,13893600.0,9396800.0,0.676340
11,11,1980-12-30,0.629464,0.629464,0.627232,0.627232,0.496981,17220000,NaN,NaN,0.642857,-0.015625,-0.024306,23290400.0,-6070400.0,-0.260640
12,12,1980-12-31,0.611607,0.611607,0.609375,0.609375,0.482832,8937600,NaN,NaN,0.627232,-0.017857,-0.028470,17220000.0,-8282400.0,-0.480976
13,13,1981-01-02,0.616071,0.620536,0.616071,0.616071,0.488138,5415200,NaN,NaN,0.609375,0.006696,0.010989,8937600.0,-3522400.0,-0.394110
14,14,1981-01-05,0.604911,0.604911,0.602679,0.602679,0.477526,8932000,NaN,NaN,0.616071,-0.013393,-0.021739,5415200.0,3516800.0,0.649431
15,15,1981-01-06,0.578125,0.578125,0.575893,0.575893,0.456303,11289600,NaN,NaN,0.602679,-0.026786,-0.044444,8932000.0,2357600.0,0.263950
16,16,1981-01-07,0.553571,0.553571,0.551339,0.551339,0.436848,13921600,NaN,NaN,0.575893,-0.024554,-0.042636,11289600.0,2632000.0,0.233135
17,17,1981-01-08,0.542411,0.542411,0.540179,0.540179,0.428005,9956800,NaN,NaN,0.551339,-0.011161,-0.020243,13921600.0,-3964800.0,-0.284795
18,18,1981-01-09,0.569196,0.571429,0.569196,0.569196,0.450997,5376000,NaN,NaN,0.540179,0.029018,0.053719,9956800.0,-4580800.0,-0.460067
19,19,1981-01-12,0.569196,0.569196,0.564732,0.564732,0.447460,5924800,NaN,NaN,0.569196,-0.004464,-0.007843,5376000.0,548800.0,0.102083
20,20,1981-01-13,0.546875,0.546875,0.544643,0.544643,0.431542,5762400,NaN,NaN,0.564732,-0.020089,-0.035573,5924800.0,-162400.0,-0.027410
21,21,1981-01-14,0.546875,0.549107,0.546875,0.546875,0.433311,3572800,NaN,NaN,0.544643,0.002232,0.004098,5762400.0,-2189600.0,-0.379981
22,22,1981-01-15,0.558036,0.562500,0.558036,0.558036,0.442154,3516800,NaN,NaN,0.546875,0.011161,0.020408,3572800.0,-56000.0,-0.015674
23,23,1981-01-16,0.555804,0.555804,0.553571,0.553571,0.438617,3348800,NaN,NaN,0.558036,-0.004464,-0.008000,3516800.0,-168000.0,-0.047771
24,24,1981-01-19,0.587054,0.589286,0.587054,0.587054,0.465146,10393600,NaN,NaN,0.553571,0.033482,0.060484,3348800.0,7044800.0,2.103679
25,25,1981-01-20,0.571429,0.571429,0.569196,0.569196,0.450997,7520800,NaN,NaN,0.587054,-0.017857,-0.030418,10393600.0,-2872800.0,-0.276401
26,26,1981-01-21,0.580357,0.584821,0.580357,0.580357,0.459840,3976000,NaN,NaN,0.569196,0.011161,0.019608,7520800.0,-3544800.0,-0.471333
27,27,1981-01-22,0.587054,0.591518,0.587054,0.587054,0.465146,8887200,NaN,NaN,0.580357,0.006696,0.011539,3976000.0,4911200.0,1.235211
28,28,1981-01-23,0.587054,0.589286,0.584821,0.584821,0.463377,2805600,NaN,NaN,0.587054,-0.002232,-0.003802,8887200.0,-6081600.0,-0.684310
29,29,1981-01-26,0.578125,0.578125,0.575893,0.575893,0.456303,6160000,NaN,NaN,0.584821,-0.008929,-0.015267,2805600.0,3354400.0,1.195609
30,30,1981-01-27,0.575893,0.575893,0.571429,0.571429,0.452766,5924800,NaN,NaN,0.575893,-0.004464,-0.007752,6160000.0,-235200.0,-0.038182
31,31,1981-01-28,0.555804,0.555804,0.553571,0.553571,0.438617,7039200,NaN,NaN,0.571429,-0.017857,-0.031250,5924800.0,1114400.0,0.188091
32,32,1981-01-29,0.535714,0.535714,0.533482,0.533482,0.422699,10976000,NaN,NaN,0.553571,-0.020089,-0.036290,7039200.0,3936800.0,0.559268
33,33,1981-01-30,0.508929,0.508929,0.504464,0.504464,0.399707,11547200,NaN,NaN,0.533482,-0.029018,-0.054393,10976000.0,571200.0,0.052041
34,34,1981-02-02,0.477679,0.477679,0.475446,0.475446,0.376715,5941600,NaN,NaN,0.504464,-0.029018,-0.057522,11547200.0,-5605600.0,-0.485451
35,35,1981-02-03,0.493304,0.495536,0.493304,0.493304,0.390864,4788000,NaN,NaN,0.475446,0.017857,0.037559,5941600.0,-1153600.0,-0.194156
36,36,1981-02-04,0.511161,0.513393,0.511161,0.511161,0.405013,6966400,NaN,NaN,0.493304,0.017857,0.036199,4788000.0,2178400.0,0.454971
37,37,1981-02-05,0.511161,0.515625,0.511161,0.511161,0.405013,1982400,NaN,NaN,0.511161,0.000000,0.000000,6966400.0,-4984000.0,-0.715434
38,38,1981-02-06,0.513393,0.515625,0.513393,0.513393,0.406782,3466400,NaN,NaN,0.511161,0.002232,0.004367,1982400.0,1484000.0,0.748588
39,39,1981-02-09,0.491071,0.491071,0.486607,0.486607,0.385558,4188800,NaN,NaN,0.513393,-0.026786,-0.052174,3466400.0,722400.0,0.208401
40,40,1981-02-10,0.486607,0.488839,0.486607,0.486607,0.385558,4586400,NaN,NaN,0.486607,0.000000,0.000000,4188800.0,397600.0,0.094920
41,41,1981-02-11,0.473214,0.473214,0.470982,0.470982,0.373178,3460800,NaN,NaN,0.486607,-0.015625,-0.032110,4586400.0,-1125600.0,-0.245421
42,42,1981-02-12,0.468750,0.468750,0.466518,0.466518,0.369641,3640000,NaN,NaN,0.470982,-0.004464,-0.009479,3460800.0,179200.0,0.051780
43,43,1981-02-13,0.459821,0.459821,0.455357,0.455357,0.360798,2788800,NaN,NaN,0.466518,-0.011161,-0.023923,3640000.0,-851200.0,-0.233846
44,44,1981-02-17,0.466518,0.468750,0.466518,0.466518,0.369641,3068800,NaN,NaN,0.455357,0.011161,0.024510,2788800.0,280000.0,0.100402
45,45,1981-02-18,0.486607,0.491071,0.486607,0.486607,0.385558,4810400,NaN,NaN,0.466518,0.020089,0.043062,3068800.0,1741600.0,0.567518
46,46,1981-02-19,0.459821,0.459821,0.457589,0.457589,0.362566,5577600,NaN,NaN,0.486607,-0.029018,-0.059633,4810400.0,767200.0,0.159488
47,47,1981-02-20,0.435268,0.435268,0.433036,0.433036,0.343111,6092800,NaN,NaN,0.457589,-0.024554,-0.053659,5577600.0,515200.0,0.092369
48,48,1981-02-23,0.439732,0.441964,0.439732,0.439732,0.348417,3528000,NaN,NaN,0.433036,0.006696,0.015464,6092800.0,-2564800.0,-0.420956
49,49,1981-02-24,0.428571,0.428571,0.424107,0.424107,0.336037,4244800,0.530312,NaN,0.439732,-0.015625,-0.035533,3528000.0,716800.0,0.203175

In [12]:
apple.head(200)

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0,-0.625006
2,2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0,-0.398879
3,3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752,26432000.0,-4821600.0,-0.182415
4,4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986,21610400.0,-3248000.0,-0.150298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,1981-09-23,0.299107,0.299107,0.294643,0.294643,0.233457,7050400,0.389018,NaN,0.301339,-0.006696,-0.022222,11855200.0,-4804800.0,-0.405291
196,196,1981-09-24,0.294643,0.294643,0.292411,0.292411,0.231689,4575200,0.386384,NaN,0.294643,-0.002232,-0.007576,7050400.0,-2475200.0,-0.351072
197,197,1981-09-25,0.258929,0.258929,0.254464,0.254464,0.201622,8652000,0.382768,NaN,0.292411,-0.037946,-0.129771,4575200.0,4076800.0,0.891065
198,198,1981-09-28,0.256696,0.258929,0.256696,0.256696,0.203391,22932000,0.378973,NaN,0.254464,0.002232,0.008772,8652000.0,14280000.0,1.650485
199,199,1981-09-29,0.270089,0.272321,0.270089,0.270089,0.214002,23671200,0.375134,0.471596,0.256696,0.013393,0.052174,22932000.0,739200.0,0.032234

In [13]:
for df in dfs:
    df['Previous day close price'] = df.Close.shift(1)

In [14]:
apple.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0,-0.625006
2,2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0,-0.398879
3,3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752,26432000.0,-4821600.0,-0.182415
4,4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986,21610400.0,-3248000.0,-0.150298

In [15]:
for df in dfs:
    df['Change in price'] = df['Close'] -  df['Previous day close price']

In [16]:
apple.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0,-0.625006
2,2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0,-0.398879
3,3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752,26432000.0,-4821600.0,-0.182415
4,4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986,21610400.0,-3248000.0,-0.150298

In [17]:
for df in dfs:
    df['Percent change in price'] = df.Close.pct_change()

In [18]:
apple.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0,-0.625006
2,2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0,-0.398879
3,3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752,26432000.0,-4821600.0,-0.182415
4,4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986,21610400.0,-3248000.0,-0.150298

In [19]:
for df in dfs:
    df['Previous day volume'] = df.Volume.shift(1)

In [20]:
apple.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0,-0.625006
2,2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0,-0.398879
3,3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752,26432000.0,-4821600.0,-0.182415
4,4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986,21610400.0,-3248000.0,-0.150298

In [21]:
for df in dfs:
    df['Change in volume'] = df['Volume'] -  df['Previous day volume']

In [22]:
apple.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0,-0.625006
2,2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0,-0.398879
3,3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752,26432000.0,-4821600.0,-0.182415
4,4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986,21610400.0,-3248000.0,-0.150298

In [23]:
for df in dfs:
    df['Percent change in volume'] = df.Volume.pct_change()

In [24]:
apple.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0,-0.625006
2,2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0,-0.398879
3,3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752,26432000.0,-4821600.0,-0.182415
4,4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986,21610400.0,-3248000.0,-0.150298

In [25]:
apple.to_csv('Apple.csv')
facebook.to_csv('Facebook.csv')
google.to_csv('Google.csv')
nvidia.to_csv('Nvidia.csv')
tesla.to_csv('Tesla.csv')
twitter.to_csv('Twitter.csv')